<app-header  title="Publicar Viaje"></app-header>




<ion-content>
  <div class="app-logo">
    <app-logo></app-logo>
  </div>
  
  <ion-card color="light" class="ion-padding">

    <h1>Registrar nuevo viaje</h1>


  <form form #formViajes="ngForm">
  <ion-item class="itemInput">
    <ion-label>Patente: </ion-label>
    <ion-input type="text" placeholder="Ej: XX-XX-00" maxlength="8" name="patente"  [(ngModel)]="newViaje.rut" required></ion-input>
  </ion-item>
  <ion-item class="itemInput">
    <ion-label >Nombre: </ion-label>
    <ion-input type="text" placeholder="Ej: Alexis Cuevas" maxlength="30"  name="nombre"  [(ngModel)]="newViaje.nombre" required></ion-input>
  </ion-item>
  <ion-item class="itemInput">
    <ion-label >Fono: </ion-label>
    <ion-input type="number" placeholder="Ej: 9787073838"    name="fono" [(ngModel)]="newViaje.fono" required></ion-input>
</ion-item>
<ion-item class="itemInput">
  <ion-label >Lugar de partida: </ion-label>
  <ion-input type="text" placeholder="Ej: Duoc UC" length="20"  name="partida" [(ngModel)]="newViaje.partida" required></ion-input>
</ion-item>
<ion-item class="itemInput">
  <ion-label >Lugar de destino: </ion-label>
  <ion-input type="text" placeholder="Ej: Coronel" length="20"  name="destino" [(ngModel)]="newViaje.destino" required></ion-input>
</ion-item>
<ion-item class="itemInput">
  <ion-label>Valor por persona: $</ion-label>
  <ion-input type="text" placeholder="3000" maxlength="6" name="destino" required [(ngModel)]="newViaje.valor"> </ion-input>
</ion-item>  

<ion-item class="itemInput">
  <ion-label>Hora de partida: </ion-label>
  <ion-input name="hora" type="time" required [(ngModel)]="newViaje.hora"></ion-input>
</ion-item>

  
</form>
<br>
  <ion-button expand="block" class="ion-margin-top" type="submit color=success" (click)="save()" [disabled]="formViajes.invalid">
    
    Publicar aviso
  </ion-button>
 
</ion-card>
<app-duoc></app-duoc>



