
.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    .perfil{
        width: 175px;
        height: 100px;
        margin: 0 auto;
    }
    .user{
        text-align: center;
    }

}

.app-logo{
    margin-top:40px ;
}

